@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.Shopping-icon i{
    position: fixed;
    top: 50%;
    left: 5%;

}
.Shopping-icon a{
    position: fixed;
    top: 57%;
    left: 4.5%;


}


.nav-bar  {
    background-color: #2BAE66FF;
    height: 4.5em;
    text-align: center;
    align-items: center;


}
.nav-bar a {
    color: #FCF6F5FF;
    font-weight: bold;
}

.nav-bar .input-search{
    width: 80%;
}

/*body*/
.body{
    margin-top: 2em;
}

.shopping-cart {
    margin-top: 3%;
    margin-left: 20%;
}
.show-cart li {
    display: flex;
}
.card {
    margin-bottom: 20px;
}
.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}
